<h1 style="text-align:center"><b>Articles</b></h1>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th>Action</th>
    <% @articles.each do |article| %>
      <tr>
        <td><%= link_to article.title, article %></td>
        <td><%= link_to article.body, article %></td>

        <% if user_signed_in? %>
          <td>
            <%= turbo_frame_tag "frame1" do %>
              <button class="button button1"><%= link_to "Edit", edit_article_path(article) %></button>
            <% end %>

          </td>  
          <td>
            <button class="button button2">
              <%= link_to "Delete", article_path(article), data: {turbo_method: :Delete, turbo_confirm: "Are you sure?"} %>
            </button>
          </td> 
        <% end %>
      </tr>
    <% end %>
  </tr>
</table>
